// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-login-buttons {
  margin: 0 auto 0 auto;
  width: 500px;
}

.login-google-button {
  width: 300px;
}

.login-facebook-button {
  margin: 5px;
  width: 290px;
}